body{
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.col-md-5{
    margin-top: 150px;
    color: #b82495;


}
h1{
    text-align: center;
    font-weight: bolder;
    margin: 25px;
}
input{
    display: inline;
    border:  3px solid brown !important;
    width: 85% !important;
}
button{
    margin: 10px !important;
}
li{
    list-style-type: none;
    font-size: 20px;
    text-align: center;
    display: inline;
    margin: 10px;
}
i{
    color: red;
    margin: 10px;
}