body{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.col-md-5{
    margin-top: 150px;
    background-color: wheat;
    padding: 20px;
}
input{
    margin-top: 20px;
}
button{
    margin-top: 20px !important;
    float: left;
}
.success{
    border: 5px solid green  !important;

}
.error{
    border: 5px , solid red !important;
}

small{
    color: red;
    font-weight: bolder;
    margin: 5px;
    text-align: left !important;
}